<head><style>
  .box{
    position:absolute ;
    top:50%;
    left:50%;
        transform:translate(-50%,-50%);
    width:200px;
    padding:40px;
    text-align:center ;
    background:#926dde;
    border-radius:8px;
    color:#000;
</style>
</head>




<form class="box" method = "POST" >
  {% csrf_token %}
  Email:
  <input type="text" name="email" />
  <br/>
  Username:
  <br/>
  <input type="text" name="username" />
  <br/>
  {% comment %} first name
  <br/>
  <input type="text" name="firstname" />
  <br/>
  lastname
  <input type="text" name="lastname" />
  <br/> {% endcomment %}
  phone
  <br/>
  <input type="text" name="phone" />
  <br/>
  Password:
  <br/>
  <input type="password" name="password1" />
  <br/>
  confirm Password:
  <br/>
  <input type="password" name="password2" />
  <br/>
  <input class ="btn" type="submit" value= "signup" />
  <br/>
</form>
